@page "/"

<h3>Crummy</h3>

<NavLink href="@($"{Guid.NewGuid()}")">Play</NavLink>



<p>
    <a href="https://opengameart.org/content/playing-cards-0">Card images</a> <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>
</p>