@page "/"

<h3>Crummy</h3>

<NavLink href="@($"{Guid.NewGuid()}")">Play</NavLink>


<ul>
    <li>Blazor svg drag and drop from 
        <a href="https://medium.com/codex/blazor-webassembly-svg-drag-and-drop-e680769ac682">https://medium.com/codex/blazor-webassembly-svg-drag-and-drop-e680769ac682</a>
    </li>
    <li>
        <a href="https://opengameart.org/content/playing-cards-0">Card images</a> 
        <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>
    </li>
</ul>