@page "/{gameId:guid}"
@using Blazored.LocalStorage;
@using Crummy.Web.Shared;
@using Microsoft.AspNetCore.SignalR.Client;
@using Crummy.Web.Client;
@using System.Net;
@using TypedSignalR.Client;

@inject NavigationManager Navigation
@inject ILocalStorageService localStorage

@inject MouseService mouseSrv;

@if (stage == GameStage.Lobby)
{
    <EditForm Model="@playerNameInput" OnSubmit="Submit">
        <InputText @bind-Value="playerNameInput" @bind-Value:after="NameChanged" />
    </EditForm>

    <table>
    @foreach (var player in players)
    {
        <tr>
            <td>@player.Name</td>
        </tr>
    }
    </table>
}
else if (stage == GameStage.Playing)
{
<div style="width: 100vw; height: 100vh;">

    <svg style="width: 100vw; height: 100vh;"
         xmlns="http://www.w3.org/2000/svg"
    @onmousemove=@(e => mouseSrv.FireMove(this, e))
    @onmouseup=@(e => mouseSrv.FireUp(this, e))
    @onmouseleave=@(e => mouseSrv.FireLeave(this, e))>

        @if (cards is null)
        {
            <p>Loading...</p>
        }
        else
        {
            foreach (var card in cards)
            {
                <Card @key="card.Id" GameCard="card" CardMoved="OnCardMoved" />
            }
        }
    </svg>
</div>
}